@font-face {
  font-family: "Source Sans Pro";
  src:
          url("../fonts/sourceSansPro/SourceSansPro-Light.woff2") format("woff2"),
          url("../fonts/sourceSansPro/SourceSansPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src:
          url("../fonts/sourceSansPro/SourceSansPro-Regular.woff2") format("woff2"),
          url("../fonts/sourceSansPro/SourceSansPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src:
          url("../fonts/sourceSansPro/SourceSansPro-Bold.woff2") format("woff2"),
          url("../fonts/sourceSansPro/SourceSansPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src:
          url("../fonts/playfairDisplay/PlayfairDisplay-Regular.woff2") format("woff2"),
          url("../fonts/playfairDisplay/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src:
          url("../fonts/playfairDisplay/PlayfairDisplay-MediumItalic.woff2") format("woff2"),
          url("../fonts/playfairDisplay/PlayfairDisplay-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src:
          url("../fonts/playfairDisplay/PlayfairDisplay-SemiBold.woff2") format("woff2"),
          url("../fonts/playfairDisplay/PlayfairDisplay-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

