.header {
  margin-top: 24px;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu {

  &__body {
    display: flex;
    gap: 32px;
  }

  &__link {
    font-family: var(--source);
    font-size: var(--text-size-m);
    font-weight: 400;
    color: var(--secondary-text);
  }
}