.intro {
  position: relative;


  &__textBlock {
    padding-top: 110px;
    color: var(--primary-text);
  }

  &__title {
    font-family: var(--playfair);
    font-size: var(--text-size-xxxl);
    font-style: italic;
    line-height: 60px;
    z-index: 5;

    &_highlighted {
      font-family: var(--playfair);
      color: var(--secondary-text);
      font-size: var(--text-size-xxxxl);
      font-weight: 400;
      line-height: 60px;
      text-transform: uppercase;
    }
  }

  &__titleBlock {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 110px;
  }

  &__subtitle {
    font-family: var(--source);
    font-size: var(--text-size-l);
    margin-top: 20px;
    font-weight: 400;
    text-transform: capitalize;
    z-index: 5;
  }

  &__span {
    display: flex;
  }

  &__button {
    color: var(--secondary-text);
    width: 437px;
    padding: 16px 0;
    margin-top: 42px;
    border-radius: 15px;
    background: var(--primary-text);
    text-transform: uppercase;
    font-size: var(--text-size-l);
    font-weight: 400;
    z-index: 5;
  }

  &__decorBlock {
    position: absolute;
    right: -100px;
    top: 160px;
  }

  &__decor {
    opacity: 1;
    position: absolute;
    width: 485px;
    height: 481px;
    border-radius: 485.723px;
    border: 2px solid var(--primary-text);
    z-index: -1;
    bottom: 6px;
    left: -52px;
  }

  &__info {
    display: flex;
    justify-content: center;
    gap: 124px;
    margin-top: 437px;
  }

}

.info {
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 40px;
    height: 40px;
  }

  &__text {
    max-width: 230px;
    font-family: var(--source);
    font-size: var(--text-size-xs);
    text-align: center;
  }
}

.logo {
  &__button {
    opacity: 0;
    pointer-events: none;
  }
}

@media (max-width: 1200px) {
.intro {
  overflow: hidden;

  &__decorBlock {
    right: -200px;
  }
  &__decor {
    opacity: 0;
  }
}
}