*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

address {
  all: unset;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/sourceSansPro/SourceSansPro-Light.woff2") format("woff2"), url("../fonts/sourceSansPro/SourceSansPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/sourceSansPro/SourceSansPro-Regular.woff2") format("woff2"), url("../fonts/sourceSansPro/SourceSansPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/sourceSansPro/SourceSansPro-Bold.woff2") format("woff2"), url("../fonts/sourceSansPro/SourceSansPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfairDisplay/PlayfairDisplay-Regular.woff2") format("woff2"), url("../fonts/playfairDisplay/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfairDisplay/PlayfairDisplay-MediumItalic.woff2") format("woff2"), url("../fonts/playfairDisplay/PlayfairDisplay-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfairDisplay/PlayfairDisplay-SemiBold.woff2") format("woff2"), url("../fonts/playfairDisplay/PlayfairDisplay-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.header {
  padding: 10px 0;
}
.header--mb {
  margin-bottom: 50px;
}
@media (max-width: 992px) {
  .header--mb {
    margin-bottom: 30px;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  min-height: 100px;
}
@media (max-width: 991px) {
  .header__container {
    min-height: 70px;
  }
}
.header__logo {
  position: relative;
  z-index: 10;
  max-width: 126px;
  max-height: 63px;
}

@media (max-width: 991px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    transition: right 0.3s ease-in-out;
    padding: 100px 15px 30px 15px;
    background-color: #000000;
    z-index: 9;
  }
  .menu__body ::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #000000;
  }
}
.menu__list {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .menu__list {
    font-size: 26px;
    flex-direction: column;
  }
}
.menu__link {
  transition: color 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #B96A7F;
  }
}

.menu-open body {
  overflow: hidden;
}
@media (max-width: 991px) {
  .menu-open .menu__body {
    right: 0;
  }
  .menu-open .menu__body::before {
    left: 0;
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: 50%;
    margin-bottom: -1px;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 991px) {
  .icon-menu {
    display: block;
    flex: 0 0 30px;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 10;
  }
  .icon-menu::before, .icon-menu::after,
  .icon-menu span {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: #F5EBEB;
    transition: transform 0.3s;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu span {
    top: 50%;
    margin-top: -1px;
  }
  .icon-menu::after {
    bottom: 0;
  }
}

.hero {
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 94px;
}
@media (max-width: 768px) {
  .hero {
    margin-bottom: 54px;
  }
}
.hero__block-info {
  position: relative;
  z-index: 5;
  font-size: 24px;
}
@media (max-width: 768px) {
  .hero__block-info {
    font-size: 18px;
    text-align: center;
  }
}
.hero__title {
  font-family: "Playfair Display", sans-serif;
  font-size: 48px;
  line-height: 1.25;
  font-style: italic;
  font-weight: 500;
  color: #A93B59;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 30px;
  }
}
.hero__title span {
  font-weight: 400;
  font-size: 86px;
  line-height: 70%;
  text-transform: uppercase;
  color: #F5EBEB;
  margin-left: 110px;
}
@media (max-width: 992px) {
  .hero__title span {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .hero__title span {
    font-size: 40px;
  }
}
.hero__subtitle {
  text-transform: capitalize;
  margin-left: 110px;
  margin-bottom: 50px;
}
@media (max-width: 992px) {
  .hero__subtitle {
    margin-left: 0;
  }
}
.hero__decor {
  height: 410px;
  margin-bottom: 65px;
}
@media (max-width: 992px) {
  .hero__decor {
    height: 490px;
    margin-bottom: 75px;
  }
}
.hero__img {
  position: absolute;
  z-index: 4;
  right: 0;
  top: 40px;
}
@media (max-width: 1300px) {
  .hero__img {
    right: -200px;
  }
}
@media (max-width: 992px) {
  .hero__img {
    top: 90px;
  }
}
@media (max-width: 576px) {
  .hero__img {
    top: 120px;
    right: -300px;
  }
}
.hero__round-decor {
  position: absolute;
  z-index: 3;
  right: 20%;
  top: 200px;
  width: 485px;
  height: 485px;
  background-color: transparent;
  border: 2px solid #A93B59;
  border-radius: 485px;
}
@media (max-width: 1300px) {
  .hero__round-decor {
    display: none;
  }
}

.button {
  text-transform: uppercase;
  text-align: center;
  padding: 16px 125px;
  background-color: #A93B59;
  border-radius: 15px;
  transition: color, background-color 0.3s ease-in-out;
}
.button--ml {
  margin-left: 110px;
}
@media (max-width: 992px) {
  .button--ml {
    margin-left: 0;
  }
}
@media (any-hover: hover) {
  .button:hover {
    color: #A93B59;
    background-color: #F5EBEB;
  }
}
@media (max-width: 576px) {
  .button {
    padding: 16px;
    width: 100%;
  }
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 124px;
}
@media (max-width: 768px) {
  .card {
    gap: 60px;
  }
}
.card__block {
  font-size: 16px;
  text-align: center;
}

.catalog {
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
  margin-bottom: 92px;
}
.catalog__bg {
  position: absolute;
  top: 0;
  right: 0;
  height: 1415px;
  width: 830px;
  object-fit: cover;
}

.title__name {
  position: relative;
  font-family: "Playfair Display", sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: #A93B59;
}
.title__name::after {
  content: "";
  width: 591px;
  position: absolute;
  height: 1px;
  top: 100%;
  left: -41%;
  background-color: #A93B59;
}
.title__name--mb {
  margin-bottom: 100px;
}
@media (max-width: 992px) {
  .title__name--mb {
    margin-bottom: 50px;
  }
}

.delivery {
  position: relative;
  z-index: 11;
  margin-bottom: 50px;
}
.delivery__title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  background-color: rgba(185, 106, 127, 0.5);
  padding-bottom: 35px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.delivery__categories {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  min-width: 190px;
  margin-top: -15px;
  border-radius: 15px;
  background-color: #B96A7F;
}
.delivery__categories > *:not(:last-child) {
  border-right: 1px solid #444444;
}

.categories__item {
  position: relative;
  font-weight: 300;
  font-size: 18px;
  padding: 20px;
}
.categories__item--two {
  grid-column: span 2;
}
.categories__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.categories__button::after {
  content: "";
  width: 16px;
  height: 16px;
  margin-top: 7px;
  background-image: url("../img/catalog/chevron-down.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.filter {
  position: absolute;
  top: 100%;
  left: 0;
  width: 140px;
  padding-top: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.filter--w2 {
  width: 300px;
}
.filter__list {
  position: relative;
  font-weight: 300;
  font-size: 18px;
  border-radius: 15px;
  padding: 20px 16px 30px 16px;
  background-color: #C9A1AC;
}
.filter__item {
  padding: 12px 0;
  border-bottom: 1px solid #444444;
}
.filter__item--mb {
  margin-bottom: 24px;
}
.filter__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}
.filter__input:checked + .filter__label::before {
  background: url("../img/catalog/chevron-down.svg") no-repeat center center;
}
.filter__label {
  display: inline-flex;
  gap: 11px;
  cursor: pointer;
}
.filter__label::before {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  transition: all 0.3s;
  content: "";
  border: 1px solid #F5EBEB;
  border-radius: 4px;
}
.filter__button {
  border-radius: 5px;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 200%;
  text-align: center;
  background-color: #A93B59;
  transition: background-color 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .filter__button:hover {
    background-color: #B96A7F;
  }
}
.filter__button-item {
  text-align: center;
}
.filter__cross {
  position: absolute;
  top: 12px;
  right: 12px;
}
.filter__cross::after {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../img/catalog/close.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.filter-open {
  visibility: visible;
  opacity: 1;
}

.product {
  text-align: center;
}
.product__main-title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 5;
}
.product__block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 75px;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .product__block {
    column-gap: 30px;
  }
}
@media (max-width: 768px) {
  .product__block {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 568px) {
  .product__block {
    grid-template-columns: 1fr;
  }
}
.product__item {
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  padding: 15px;
}
.product__item > *:not(:last-child) {
  margin-bottom: 15px;
}
.product__img {
  width: 100%;
  aspect-ratio: 290/290;
  object-fit: cover;
}
.product__info {
  text-align: center;
  color: #000000;
}
.product__info > *:not(:last-child) {
  margin-bottom: 15px;
}
.product__price {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 34px;
}
.product__span {
  font-weight: 400;
  font-size: 20px;
  text-decoration: line-through;
}
.product__heart {
  position: absolute;
  top: 15px;
  right: 15px;
  transition: transform 0.3s ease-in-out;
}
.product__heart img {
  max-width: 28px;
  max-height: 28px;
}
@media (any-hover: hover) {
  .product__heart:hover {
    transform: scale(1.2);
  }
}
.product__title {
  font-weight: 300;
  font-size: 16px;
}
.product__badge {
  position: absolute;
  left: 50%;
  bottom: 150px;
  transform: translateX(-50%);
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  padding: 6px 20px;
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 22px;
}
@media (max-width: 992px) {
  .product__badge {
    padding: 6px 10px;
  }
}
.product__badge--icon {
  display: flex;
  align-items: center;
  gap: 8px;
}
.product__badge--icon::before {
  position: relative;
  z-index: 5;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/product/new.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.product__badge--water {
  display: flex;
  align-items: center;
  gap: 8px;
}
.product__badge--water::before {
  position: relative;
  z-index: 5;
  content: "";
  width: 11px;
  height: 15px;
  background-image: url("../img/product/tint.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.product__badge--pink {
  background-color: #A93B59;
}
.product__badge--dark-pink {
  background-color: #B96A7F;
}
.product__badge--blue {
  background-color: #55B8FF;
}
.product__button {
  position: relative;
  z-index: 10;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 125%;
  padding: 15px 30px;
  border-radius: 15px;
  border: 1px solid #fff;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .product__button:hover {
    color: #A93B59;
    border: 1px solid #A93B59;
  }
}

.adaptive-delivery {
  position: relative;
  z-index: 11;
  margin-bottom: 24px;
}
.adaptive-delivery__title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  border-radius: 16px 16px 0 0;
  background: rgba(185, 106, 127, 0.5);
  padding: 10px 0;
}
.adaptive-delivery__block {
  border-radius: 0 0 16px 16px;
  background-color: #B96A7F;
  padding: 0 16px 16px;
}
.adaptive-delivery__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #444;
  font-weight: 300;
  font-size: 18px;
}
.adaptive-delivery__button::after {
  content: "";
  width: 16px;
  height: 16px;
  margin-top: 7px;
  background-image: url("../img/catalog/chevron-down.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.adaptive-filter__list {
  margin: 10px 0;
  padding: 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);
}
.adaptive-filter__item {
  padding: 10px 0;
  border-bottom: 1px solid rgba(68, 68, 68, 0.36);
}
.adaptive-filter__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}
.adaptive-filter__input:checked + .adaptive-filter__label::before {
  background: url("../img/catalog/chevron-down.svg") no-repeat center center;
}
.adaptive-filter__label {
  display: inline-flex;
  gap: 11px;
  cursor: pointer;
}
.adaptive-filter__label::before {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  transition: all 0.3s;
  content: "";
  border: 1px solid #F5EBEB;
  border-radius: 4px;
}
.adaptive-filter__item-button {
  text-align: center;
}
.adaptive-filter__button {
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 200%;
  text-align: center;
  background-color: #A93B59;
  transition: background-color 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .adaptive-filter__button:hover {
    background-color: #B96A7F;
  }
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}

[class*=__container] {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 15px;
}

[class*=__small-container] {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  color: #F5EBEB;
  background-color: #000000;
}

.scrollbar {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}

.scrollbar::-webkit-scrollbar {
  width: 7px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #F5EBEB;
  border-radius: 5px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #A93B59;
}

/*# sourceMappingURL=style.css.map */
