:root {
  --background: rgba(0, 0, 0, 1);
  --primary-text: rgba(169, 59, 89, 1);
  --secondary-text: rgba(255, 255, 255, 1);
  --landing: rgba(185, 106, 127, 1);
  --blue-button: rgba(85, 184, 255, 1);
  ;
}